.bsection__wrap{
    display: flex;
    gap: 78px;
    padding: 50px 0 163px;
    justify-content: center;
    align-items: center;
}
.bright__box-title {
  font-family: var(--lb);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
  width: 332px;
  margin-bottom: 20px;
}
.bright__box-desc-title {
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.72px;
  color: var(--black);
}
.bright__box-desc-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
  width: 594px;
}
.bright__box-about-title {
  font-family: var(--lb);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
}
.bright__box-about-cont-text {
  font-family: var(--lb);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
}
.bright__box-about-price {
  font-family: var(--lb);
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
}
.bright__box{
    display: flex;
    flex-direction: column;
}
.bright__box-desc{
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 20px;
}
.bright__box-about{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bright__box-about-cont{
    display: flex;
    width: 472px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}